html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Baloo Da 2', cursive;
    color: #2a4b51!important;
    font-size: 1.5rem;
}
ul li{
    list-style-type: none;
}

/*************************MENU*********************/

#navbarNav{
    font-size: 2rem;
}
.active{
    font-size: 1.1rem!important;
}
/*****************************ACCUEIL********************/
.main-content{
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0, 0.1);
    padding: 10px;
}
#search-form{
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0, 0.1);
    /*border: solid 2px #999999;*/
    padding: 10px;
    background-color: #0f6674;
}

.form-search-item{

}

/**************************ADMIN FORM & BACKEND**************/
#login-form-admin{
    background-color: #0f6674;
    padding: 10px;
}
.admin-main-content{
    background-color: #0c5460;
}
/*******************************CARD***************************/
.card{
    min-height: 100%;
}
#annonce-card{
    height: 100%;
}